extends layout

block scripts
    script(src='/js/author.js')
    link(rel='stylesheet', href='/stylesheets/author.css')

block content
    .main.container.text-center
        .col-md-8.mx-auto.text-center
            .alert.alert-warning.alertDiv
                strong Warning!
                |  No user are matched.

            .input-group.mb-3
                input.authorInput.form-control(type='text', placeholder="Author username", aria-label="Author username", aria-describedby='basic-addon2')
                .input-group-append
                    button#searchBtn.btn.btn-outline-secondary(type='button') Search


            .card
                table.table.table-condensed(style='border-collapse:collapse;')
                    thead
                        tr
                            th Title
                            th Revisions

                    tbody#dataTableBody

